[submodule "Bukkit"]
	path = Bukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
[submodule "CraftBukkit"]
	path = CraftBukkit
	url = https://hub.spigotmc.org/stash/scm/spigot/craftbukkit.git
[submodule "Spigot"]
	path = Spigot
	url = https://hub.spigotmc.org/stash/scm/spigot/spigot.git
[submodule "BuildData"]
	path = BuildData
	url = https://hub.spigotmc.org/stash/scm/spigot/builddata.git
[submodule "plugins/Humbug"]
	path = plugins/Humbug
	url = git@github.com:DevotedMC/Humbug.git
[submodule "plugins/HiddenOre"]
	path = plugins/HiddenOre
	url = git@github.com:DevotedMC/HiddenOre.git
